# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
.env*
!.env.example

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# Python virtual environments
venv/
*.pyc
__pycache__/

# Backend-specific files
/backend/node_modules/
/backend/serviceAccountKey.json
/backend/gmailServiceKey.json
/backend/gmailOAuth.json
/backend/token.json
/backend/*.log
/ai/*.log
/ai/venv/
/ai/demand_predictor_logs.txt
/ai/order_optimizer_logs.txt
/ai/order_generator_logs.txt
/ai/firebaseKey.json

ai/universal_agent_logs.txt
ai/supply_checker_logs.txt
ai/order_generator_logs.txt
ai/order_optimizer_logs.txt

# IDE/project files
.idea/
*.sublime-project
*.sublime-workspace

# Ignore all datasets
ai/datasets/

# Ignore serialized/binary model or data files
*.pkl

# Ignore Jupyter checkpoint files
ai/.ipynb_checkpoints/

ai/firebaseKey.json